<html>
    <head>
        <title>Site web symfony</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>Comment allez vous !?</p>
        <p>
            {% if age >= 18 %}
            Vous êtes un adulte
            {% elseif age >= 12%}
            Vous êtes un adolescent
            {% else %}
            Vous êtes un enfant
            {% endif %}
        </p>
        <p>
            {% for person, age in tableau %}
                <div> {{loop.index}} - {{person}} {{age}}</div>
            {% endfor %}
        </p>
    </body>
</html>